.social-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    width: 100%;
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
}

@media (max-width: 600px) {
    .social-container p{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding-top: 5%;
        justify-content: center;
        align-items: center;
        font-size: smaller;
    } 
    .social-container {
        width: 100%;
        margin: 0 auto;
        padding: 0%;
        padding-top: 5%;
        justify-content: center;
        align-items: center;
        font-size: smaller;
    } 


}