.header {
    display: flex;
    max-width: 100%;
    background-color: #2a1c5340;
    width: 100%;
    gap: 25%;
    z-index: 3;
    position: fixed;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
  }
  
  .logoimg{
    width: 50%;

  }

  .logo {
    width: 40%;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    gap: 10%;
    justify-content: flex-start;
    align-items: center;
    width: 50vh;
    padding-top: 6%;
    border-radius: 200px;
    padding-bottom: 6%;
    list-style: none;
    background-color: #2a1c5340;
    
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }

  @media (max-width: 600px) {
    .header{
    width: 100%;
    gap: 8%;
    flex-direction: column;
    z-index: 3;
    position: fixed;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 0%;
    color: white;
    }

    nav ul {
      align-items: center;
      justify-content: center;
      padding-top: 2%;
      border-radius: 200px;
      padding-bottom: 2%;
      list-style: none;
      padding-left: 0%;
      background-color: #2a1c5340;
      border-radius: 0%;
      
    }

    .logo  {
      width: 70%;
      font-size: 1rem;
      display: flex;
      gap: 0;
      padding: 0;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .logo p {
      font-size: smaller;
     
    }
    
   

  }