.header {
    display: flex;
    max-width: 100%;
    gap: 20%;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
  }
  
  .logoimg{
    width: 50%;

  }

  .logo {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    gap: 10%;
    justify-content: flex-start;
    align-items: center;
    width: 50vh;
    padding-top: 6%;
    border-radius: 200px;
    padding-bottom: 6%;
    list-style: none;
    background-color: #2a1c5340;
    
  }
  
  
  
  nav a {
    color: white;
    text-decoration: none;
  }