

.quote-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 15%;
    padding-right: 15%;
  }
  
  .h3-quote {
    font-size: 2.5rem; /* Ajusta el tamaño de la fuente según sea necesario */
    max-width: 100%;
    opacity: 0; /* Ocultar inicialmente para la animación */
  }

  .design-system {
    font-size: 3rem;
    color: rgb(255, 37, 219);
  }

  .design-system {
    color: rgb(255, 37, 219);
    animation: colorChange 10s infinite alternate;
}

@keyframes colorChange {
    0% {
        color: #DD141D;
    }
    50% {
        color: #FE5D7C;
    }
    100% {
        color: #2A1C53;
    }
}