
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    font-family: "Montserrat", sans-serif;
    
}

h2.title-benefits{
    text-align: center;
    font-size: 2.5rem;
}

@media (max-width: 600px) {

    h2.title-benefits{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 8%;
    }

}


