.button {
width: 200px;
height: 50px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 160px;
  font-size: 18px;
  font-weight: bold;
}

.button.primary {
  background-color: #DD141D;
  color: #E8E7EB;
}

.button:not(.primary) {
    background: none;
    color: #E8E7EB;
    border: 2px solid #E8E7EB; /* Borde blanco con transparencia */
    border-radius: 160px; /* Bordes redondeados */
    padding: 10px 24px; /* Espaciado interno */
    text-align: center; /* Alinear texto al centro */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    transition: background 0.3s, box-shadow 0.3s; /* Transiciones suaves */
  }
  
  .button:not(.primary):hover {
    
    border: 2px solid #767185;;
    color: #767185;
    
  }

  .button.primary:hover {
    background: #9B0E14;
    
  }

  @media (max-width: 600px) {
    .button {
      width: 100%; /* Make the button full width on small screens */
      padding: 15px 0; /* Increase the padding for better touch experience */
      font-size: 18px; /* Increase font size for better readability */
    }
  }